<section>
    <div>
        <div style="height: auto; background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png')">
            <h3 class="title-font-500 text-center text-lowercase"
                style="padding-top: 5%; padding-right: 10rem; padding-left: 10rem; font-size: 3.75rem;">
                so how much</h3>
                <p class="body-font-300 font-size-075 text-center text-uppercase" style="padding-bottom: 1%; letter-spacing: 2px">Tell us what you need and we can work something out</p>
                <div class="text-center" style="padding-left: 10%; padding-right: 10%; padding-bottom: 5rem">
                    <img src="../../../assets/images/Logan Quinn-74.jpg" alt="" style="width: 100%; border-radius: 2px;">
                </div>
        </div>
    </div>

    <div class="row" style="margin: 0 10%">
        <div class="col-12 col-md-6 pl-0">
            <div class="card p-2 border-0 shadow-sm" style="border-radius: 5px; background-color: #c9ada7; background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">
                <h3 class="title-font-300 text-center font-size-175">Portraits</h3>
                <p class="body-font-300 text-center font-size-1">Starting at $200</p>
            </div>

        </div>
        <div class="col-12 col-md-6 pr-0">
            <div class="card border-0 p-2 shadow-sm" style="border-radius: 5px; background-color: #c9ada7; background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">
                <h3 class="title-font-300 text-center font-size-175">Wedding</h3>
                <p class="body-font-300 text-center font-size-1">Starting at $800</p>
            </div>
        </div>
    </div>
    <!-- <div style="height: auto;">
        <div>
            <div style="background-color: #1D3557;background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png'); padding-left: 8rem; padding-right: 8rem;">
               
                <div class="d-flex w-100 align-items-center ml-auto mr-auto" style="padding-top: 10%">
                    <div
                        style="background-color: white;background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png'); padding: .5rem; max-width: 50%; border-radius: 2px">
                        <img src="../../../assets/images/Jamie and Noah-74.jpg" alt=""
                            style="width: 100%; position: relative; border-radius: 2px;">
                    </div>
                    <div class="ml-auto mr-auto">
                        <h3 class="text-white title-font-300 text-lowercase mb-4" style="font-size: 2.5rem">Engagement Session
                        </h3>

                        <p class="text-white body-font-200 font-size-075 text-uppercase mb-4">Everything can be custom, but here's what
                            you
                            get:</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Sneak peeks within 24 hours</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">One location/hour</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Fully edited gallery within 2 weeks</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">No max number of shots</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Personal printing rights</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Location scouting, if needed</p>
                        <p class="text-white body-font-200 font-size-075 text-uppercase mb-5" style="letter-spacing: 2px;"><img
                                style="width: 20px; margin-right: .5rem" src="../Element-62 copy.png" alt="">A bad-ass
                            team of wives</p>
                        <p class="text-white title-font-300 text-lowercase font-size-075 mt-2 mb-5">Starting at $200/hour</p>

                        <a href="./contact.html">
                            <div style="padding: .5rem; background-color: #E63946; width: 50%; border-radius: 2px">
                                <div class="body-font-300 text-uppercase text-center font-size-075" href="./contact.html"
                                    style="padding: .5rem; background-color: #fbfffa; border-radius: 2px; letter-spacing: 2px;">Send an Inquery
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                
                <div class="d-flex w-100 align-items-center ml-auto mr-auto" style="padding-top: 10%">
                    <div class="ml-auto mr-auto">
                        <h3 class="text-white title-font-300 text-lowercase mb-4" style="font-size: 2.5rem">Wedding/Elopment
                        </h3>

                        <p class="text-white text-uppercase body-font-200 font-size-075 mb-4">We will work together to plan the perfect
                            day, but here's the basics:</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Sneak peeks within 48 hours</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Two shooters</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Assistance in planning out a shot list</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Fully edited gallery within 4 weeks</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">No max number of shots</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Personal printing rights</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px;"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Families LOVE us</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075 mb-5"><img
                                style="width: 20px; margin-right: .5rem" src="../Element-62 copy.png" alt="">A bad-ass
                            team of wives</p>
                        <p class="text-white text-lowercase body-font-200 font-size-075 mt-2 mb-5">Starting at $800</p>

                        <a href="./contact.html">
                            <div style="padding: .5rem; background-color: #E63946; width: 50%; border-radius: 2px">
                                <div class="body-font-300 text-center text-uppercase font-size-075"
                                    style="padding: .5rem; background-color: #fbfffa; border-radius: 2px; letter-spacing: 2px;">Send an Inquery
                                </div>
                            </div>
                        </a>
                    </div>
                    <div
                        style="background-color: white;background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png'); padding: .5rem; max-width: 50%; border-radius: 2px">
                        <img src="../../../assets/images/Nick and Chad_399.jpg" alt=""
                            style="width: 100%; position: relative; border-radius: 2px;">
                    </div>
                </div>

                
                <div class="d-flex w-100 align-items-center ml-auto mr-auto pb-5" style="padding-top: 10%">
                    <div
                        style="background-color: white;background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png'); padding: .5rem; max-width: 50%; border-radius: 2px">
                        <img src="../../../assets/images/Nikolai-48.jpg" alt=""
                            style="width: 100%; position: relative; border-radius: 2px;">
                    </div>
                    <div class="ml-auto mr-auto">
                        <h3 class="text-white title-font-300 text-lowercase mb-4" style="font-size: 2.5rem">Portrait Sessions
                        </h3>

                        <p class="text-white body-font-200 text-uppercase font-size-075 mb-4">Let us know what you're looking for and
                            we'll
                            make it happen:</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Sneak peeks within 24 hours</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Fully edited gallery within 2 weeks</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">One location per hour</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">No max number of shots</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Personal printing rights</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075" style="letter-spacing: 2px"><img style="width: 20px; margin-right: .5rem"
                                src="../Element-62 copy.png" alt="">Location scouting, if needed</p>
                        <p class="text-white text-uppercase body-font-200 font-size-075 mb-5" style="letter-spacing: 2px"><img
                                style="width: 20px; margin-right: .5rem" src="../Element-62 copy.png" alt="">A bad-ass
                            team of wives</p>
                        <p class="text-white body-font-200 font-size-075 text-lowercase mt-2 mb-5">Starting at $200/hour</p>

                        <a href="./contact.html">
                            <div style="padding: .5rem; background-color: #E63946; width: 50%; border-radius: 2px">
                                <div class="body-font-300 text-center font-size-075 text-uppercase"
                                    style="padding: .5rem; background-color: #fbfffa; border-radius: 2px; letter-spacing: 2px;">Send an Inquery
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
       

        <div
            style="padding: 4rem 8rem; background-color: #fbfffa; background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png')">
            <h3 class="text-center body-font-500 text-lowercase font-size-2 mb-5">How do we get started?</h3>
            <div class="row">
                <div class="col-md-4 col-12">
                    <p class="body-font-500 text-lowercase text-center font-size-1">Step 1:</p>
                    <p class="body-font-300 text-uppercase text-center font-size-075" style="letter-spacing: 1px;">Let's get in contact! Let's make a plan! We'll find
                        something
                        that fits perfectly for you and your vision.</p>
                </div>
                <div class="col-md-4 col-12">
                    <p class="body-font-500 text-lowercase font-size-1 text-center">Step 2:</p>
                    <p class="body-font-300 text-uppercase font-size-075 text-center" style="letter-spacing: 1px;">We have a $50 retainer for any shoot that goes towards
                        your
                        payment. So send that over, fill out our super fancy contract, pick a time and date, and
                        we'll be
                        there!</p>
                </div>
                <div class="col-md-4 col-12">
                    <p class="body-font-500 text-lowercase font-size-1 text-center">Step 3:</p>
                    <p class="body-font-300 text-uppercase font-size-075 text-center" style="letter-spacing: 1px;">Let's take some pics and have some fun!</p>
                </div>
            </div>
        </div> -->

        
