<section style="padding-top: 7%">
    <h3 class="text-center body-font-300 text-lowercase" style="font-size: 3rem">Wanna connect?</h3>
    <div style="width: 50%; margin: 3% auto;box-shadow: 0 1px 1px rgb(0 0 0 / 5%); background-color: #888888; padding: 1.5% 1% 0% 1%; border-radius: 4px; background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png')">
        <div class="inbound-form-wrapper" id="form_5580" data-path="https://app.99inbound.com/i/45aa7772-3408-4616-ac3e-92343917d039" data-token="kDKfBJL1WaBRruKKFQ8lPAtt"></div>
    </div>
</section>
