<div style="margin: 5% 15%">
    <h3 class="body-font-300 font-size-3 text-lowercase text-center mb-0 gallery-title">Bradley</h3>
    <h3 class="title-font-400 font-size-075 text-uppercase text-center mb-5">Headshots - Houston, Texas</h3>
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-3-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-4-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-5-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-7-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-10-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-14-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-15-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-17-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-19-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-20-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-22-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-26-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-27-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-28-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-30-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-31-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-34-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-35-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-41-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-42-min-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Bradley/Bradley-47-min-min.jpg" alt="">
</div>
