<section style="height: 100%; background-color: #f2e9e4; background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png')">
    <div class="text-center"style="padding-top: 5%; padding-bottom:1%"> 
        <h3 class="title-font-500 text-lowercase" style="font-size: 3.75rem">Alex & Shanda</h3>
        <p class="body-font-300 font-size-075 text-center text-uppercase" style="letter-spacing: 2px">Hey y'all! We are Alex and Shanda - THE wife duo! People often think we are sisters, but let us assure you. We are not. </p>
        <img style="width: 75%; padding-bottom: 4%; padding-top: 1%" src="../../../assets/images/alexandshanda.jpeg">
        <!-- Alex Section -->
        <div class="d-flex align-items-center" style="background-color: #9a8c98;background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');position: relative; padding: 2% 8%">
            <div class="w-75 py-5" style="padding-left: 0%; padding-right: 6%">
                <div class="d-flex align-items-center">
                    <div style="margin-right: 5rem">
                        <div class="d-flex align-items-center pr-4 pb-3">
                            <h4 class="text-white text-uppercase body-font-400 font-size-125 mb-0" style="letter-spacing: 2px;">First Name:</h4>
                            <p class="text-white text-uppercase title-font-200 font-size-09 mb-0 pl-2">Alex</p>
                        </div>
                        <div class="d-flex align-items-center pb-2">
                            <h4 class="text-white text-uppercase body-font-400 font-size-125 mb-0" style="letter-spacing: 2px;">Singer:</h4>
                            <p class="text-white text-uppercase title-font-200 font-size-09 mb-0 pl-2">Lady Gaga</p>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center pr-4 pb-3">
                            <h4 class="text-white text-uppercase body-font-400 font-size-125 mb-0" style="letter-spacing: 2px;">Last Name:</h4>
                            <p class="text-white text-uppercase title-font-200 font-size-09 mb-0 pl-2">Pinell</p>
                        </div>
                        <div class="d-flex align-items-center pr-4 pb-2">
                            <h4 class="text-white text-uppercase body-font-400 font-size-125 mb-0" style="letter-spacing: 2px;">Coffee Order:</h4>
                            <p class="text-white text-uppercase title-font-200 font-size-09 mb-0 pl-2">Vanilla Latte</p>
                        </div>
                    </div>
                </div>
                <div style="padding-top: 1%">
                    <p class="text-white text-left text-uppercase title-font-300 font-size-09 mb-0"><span class="text-white text-uppercase body-font-400 font-size-125 mb-0" style="letter-spacing: 2px; font-style:normal">Likes:</span> Any kind of dogs, a great cup of coffee, babies, chips and salsa, driving around for hours, everything Texas related, grocery shopping, cookies and milk, Taco Bell, my wife :)</p>
                </div>
                <div style="padding-top: 2%">
                    <p class="text-white text-left text-uppercase title-font-300 font-size-09 mb-0"><span class="text-white text-uppercase body-font-400 font-size-125 mb-0" style="letter-spacing: 2px; font-style:normal">Fun Fact:</span> I have to stop and comment about/talk to any kind of dog that we pass. I will tell them how cute and how good they are. The same is also true for babies, so be prepared if we pass one!</p>
                </div>
            </div>
            <div class="w-25">
                <div style="width: 20rem; height: 20rem; overflow: hidden;">
                    <img style="height: 20rem; width: 100%; object-fit: cover; object-position: 75% 1; display: block; margin: auto; border-radius: 4px"
                    src="../../../assets/images/alex.jpeg" alt="">
                </div>
            </div>
        </div>
        <!-- Button -->
        <div style="width: 15%; margin: -2rem auto; background-color:#c9ada7; position: relative; padding: .55%">
            <a href="'/contact'">
                <div class="button-background">
                    <p class="text-uppercase mb-0 font-size-1 button-text" style="line-height: 2.5rem; text-align: center; letter-spacing: 2px;">Let's Talk</p>
                </div>
            </a>
        </div>
        <!-- About Tagline -->
        <p class="body-font-300 font-size-2 text-lowercase" style="transform:rotate(-90deg); width:20%; color: white; position:relative; margin-top: -16%; left: -7%; font-size: 2.5rem; letter-spacing: 2px;">Who is she</p>

        <!-- Pinell Photography about -->
        <div class="d-flex align-items-center" style="background-color: none; padding: 6% 8%; position: relative; margin-top: 12%">
            <p class="text-uppercase font-size-075 body-font-300" style="letter-spacing: 2px; line-height: 2rem">This all started one day when Alex started dragging along Shanda to photoshoots because we were inseperable (still are lol). Alex would take the pics and Shanda would voice little ways to make it look even better. From there, once we locked each other down, Pinell Photography was born. Now a days, not much has changed. Alex gets to click the button and slave away editing while Shanda gets to just tell her what to do on shoots. It's a great work arrangement!</p>
        </div>

        <!-- Shanda Section -->
        <div class="d-flex align-items-center" style="background-color:  #9a8c98; background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');  position: relative; padding: 2% 8%;">
            <div class="w-25">
                <div class="float-right" style="width: 20rem; height: 20rem; overflow: hidden;">
                    <img style="height: 20rem; width: 100%; object-fit: cover; object-position: 75% 1; display: block; margin: auto; border-radius: 4px"
                    src="../../../assets/images/shanda.jpeg" alt="">
                </div>
            </div>
            <div class="w-75 py-5" style="padding-left: 6%">
                <div class="d-flex align-items-center">
                    <div style="margin-right: 5rem">
                        <div class="d-flex align-items-center pr-4 pb-3 w-100">
                            <h4 class="text-white text-uppercase body-font-400 font-size-125 mb-0" style="letter-spacing: 2px;">First Name:</h4>
                            <p class="text-white text-uppercase title-font-300 font-size-09 mb-0 pl-2">Shanda</p>
                        </div>
                        <div class="d-flex align-items-center pb-2">
                            <h4 class="text-white text-uppercase body-font-400 font-size-125 mb-0" style="letter-spacing: 2px;">Singer:</h4>
                            <p class="text-white text-uppercase title-font-300 font-size-09 mb-0 pl-2">Twenty One Pilots</p>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center pr-4 pb-3">
                            <h4 class="text-white text-uppercase body-font-400 font-size-125 mb-0" style="letter-spacing: 2px;">Last Name:</h4>
                            <p class="text-white text-uppercase title-font-300 font-size-09 mb-0 pl-2">Pinell</p>
                        </div>
                        <div class="d-flex align-items-center pr-4 pb-2">
                            <h4 class="text-white text-uppercase body-font-400 font-size-125 mb-0" style="letter-spacing: 2px;">Coffee Order:</h4>
                            <p class="text-white text-uppercase title-font-300 font-size-09 mb-0 pl-2">Iced Lavendar Latte</p>
                        </div>
                    </div>
                </div>
                <div style="padding-top: 2%">
                    <p class="text-white text-left text-uppercase title-font-300 font-size-09 mb-0"><span class="text-white text-uppercase body-font-400 font-size-125 mb-0" style="letter-spacing: 2px; font-style:normal">Likes:</span> Anything outdoors, rock climbing, hiking, ice cream and popsicles, quesadillas, fried eggs, babies, coding, finding cool graphics, anything free lol, iced coffee even in the winter time, babieeeees!!</p>
                </div>
                <div style="padding-top: 2%">
                    <p class="text-white text-left text-uppercase title-font-300 font-size-09 mb-0"><span class="text-white text-uppercase body-font-400 font-size-125 mb-0" style="letter-spacing: 2px; font-style:normal">Fun Fact:</span> I have a hard time sitting still and not doing anything. Catch me making friendship bracelets, cleaning, or messing around not finishing any coding projects I start.</p>
                </div>
            </div>
        </div>
        <!-- Let's Talk Button -->
        <div style="width: 15%; margin: -2rem auto 2rem auto; background-color:#c9ada7; position: relative; padding: .55%">
            <a href="'/contact'">
                <div class="button-background">
                    <p class="text-uppercase mb-0 font-size-1 button-text"
                        style="line-height: 2.5rem; text-align: center; letter-spacing: 2px;">Let's Talk</p>
                </div>
            </a>
        </div>
        <div style="height: 5%"></div>
        <!-- About Tagline -->
        <p class="body-font-300 font-size-2 text-lowercase" style="transform:rotate(90deg); width:20%; color: white; position:relative; margin-top: -37%; padding-bottom: 31%; right: -71%; font-size: 2.5rem; letter-spacing: 2px;">Who is she</p>
    </div>
</section>
