.button-background{
    background-color:#fbfffa;
    background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png');
    transition: 0.3s;
}

.button-background:hover{
    background-color: #c9ada7;
}

a:hover{
    text-decoration: none;
}

.button-text{
    color: black;
    transition: 0.3s;
}

.button-text:hover{
    color: white;
}