<div style="margin: 5% 15%">
    <h3 class="body-font-300 font-size-3 text-lowercase text-center mb-0 gallery-title">Tara & Clancey</h3>
    <h3 class="title-font-400 font-size-075 text-uppercase text-center mb-5">Engagement - Mansfield, Texas</h3>
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-17-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-21-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-28-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-34-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-38-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-45-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-50-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-51-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-58-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-61-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-62-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-63-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-64-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-65-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-71-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-74-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-80-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-88-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-94-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-97-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-103-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-108-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-120-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-124-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-128-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-130-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-133-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-134-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-136-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-139-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-140-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-141-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/TaraClancey/T & C-143-min.jpg" alt="">
</div>
