<div class="desktop-body">
  <!-- The Top - hero image -->
  <div class="div-top">
    <div class="text-center" style="position: fixed; z-index: 0; top: 0;">
      <img style="width: 100%; height: 50%" src="./../assets/images/aliJustin.jpg"
        alt="a man in a tux and a woman in a long flowy black dress stand in White Sands National Park holding hands and looking away from each other.">
    </div>
  </div>
  <!-- The Main Part - slides over the hero image -->
  <div class="div-bottom" style="width:100%;">
    <div style="height:fit-content">
      <!-- Title -->
      <div class="text-right py-5 mr-5">
        <h3 class="title-font-600" style="font-size: 4rem">pinell photography</h3>
        <p class="body-font-300" style="font-size: 1.15rem; margin-top: -.5rem; letter-spacing: 2px">ALEX & SHANDA</p>
      </div>
      <!-- The main gallery - 3 pics and 2 color stripes -->
      <div style="position: relative">
        <div class="h-100 row" style="position: relative; z-index: 2">
          <div class="col-12 col-md-6">
            <div class="shadow-sm float-right"
              style="background-color:#4a4e69;border-radius: 2px; width: 75%; background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">
              <img style="width: 100%;height: 100%; z-index: 800; border-radius: 2px; padding: 1rem"
                src="./../assets/images/aliJustin2.JPG" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6" style="margin: auto 0; padding-left: 6rem">
            <div>
              <div class="shadow-sm"
                style="background-color:#4a4e69; width: 75%; height: 25%; border-radius: 2px; background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">
                <img style="width: 100%; z-index: 800; border-radius: 2px; padding: 1rem"
                  src="./../assets/images/aliring.JPG" alt="">
              </div>
            </div>
            <div>
              <div class="shadow-sm mt-5"
                style="background-color:#4a4e69; width: 75%; height: 25%; border-radius: 2px; background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">
                <img style="width: 100%; z-index: 800; border-radius: 2px; padding: 1rem"
                  src="./../assets/images/aliJustin3.JPG" alt="">
              </div>
            </div>
          </div>
        </div>
        <!-- The stripes -->
        <div style="margin-top: 1.25rem; width: 100%; position: absolute; top: 5%; z-index: 1">
          <div
            style="background-color:#c9ada7; width: 45vw; height: 28vh; transform: translateY(7rem); border-bottom-right-radius: 2px; border-top-right-radius: 2px;">
          </div>
          <div
            style="background-color:#9a8c98; width: 55vw; height:30vh; transform: translateY(3rem); margin-left: auto; position: relative; border-bottom-left-radius: 2px; border-top-left-radius: 2px;">
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5" style="background-color: #9a8c98">
      <h3 class="text-center text-white body-font-300 text-lowercase py-5 mb-0"> </h3>
    </div>

    <!-- The main body of text with 1 pic and colors -->
    <div style="position: relative">
      <div class="row h-100 d-flex align-items-center">
        <!-- Left side - Pic with background -->
        <div class="col-md-6 col-12">
          <div class="mt-5"
            style="position: relative; z-index: 1;float: right; border: 2px solid #4a4e69; width: 80%; z-index: 2; border-radius: 2px; background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">
            <img style="width: 100%; z-index: 3; border-radius: 2px; padding: 1rem"
              src="./../assets/images/Becca-73.jpg" alt="">

          </div>

        </div>
        <!-- Right side - tag line and body of text -->
        <div class="col-md-6 col-12">
          <div class="d-flex" style="z-index: 4;">
            <h3 class="title-font-300" style="font-size: 4.9rem; width: 22rem">capturing all the</h3>
            <h3 class="body-font-600-italics"
              style="position: absolute; top: 5rem; left: 15rem; font-size: 5.9rem; width: 13rem;">
              FEELS</h3>
          </div>
          <p class="body-font-300 px-5" style="padding-bottom: 4rem; padding-top: 12rem">Hello! We are Alex and Shanda -
            a wife photography duo. Based out of Houston and Dallas, we love to explore both cities with our clients and
            find the most unique spots in the most random places.  You can expect our sessions to be as fun and
            easy-going as you can get. We have a special knack for making the most shy people become their most
            confident self in front of the camera. Whether it’s an engagement, family shoot, or wedding - we’re your
            girls. </p>
        </div>
      </div>
      <div
        style="position: absolute; top:0; z-index: 0; background-color:#c9ada7; height: 115vh; width: 42vw; border-bottom-right-radius: 2px">
      </div>
    </div>

    <div
      style="background-color: #f2e9e4; width:100%; position: relative; margin-top: 6rem; margin-bottom: 2rem; background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png');">
      <div class="row px-5">
        <div class="col-12 col-md-3" style="width: 21rem">
          <h3 style="font-size:4.9rem; margin-bottom: -1rem" class="body-font-400">featured</h3>
          <h3 style="font-size:2rem; letter-spacing: 2px" class="title-font-400 text-right">
            GALLERIES</h3>
        </div>
        <div class="col-12 col-md-9 pt-3 pl-5">
          <div class="row mb-5">
            <div class="col-6">
              <a [routerLink]="['/AliAndJustin']">
                <div style="background-color: #4a4e69;">
                  <img
                    style="padding-top: 1rem; height: 25rem; width: 93%; object-fit: cover; object-position: 75% 1; display: block; margin: auto; border-radius: 2px"
                    src="./../assets/images/aliJustin2.JPG" alt="">
                  <div class="text-center">
                    <p class="mb-0 body-font-300 text-lowercase text-white"
                      style="font-size: 1.25rem; margin-top: .25rem;">White
                      Sands, New Mexico</p>
                    <p class="title-font-300 text-white text-uppercase"
                      style="font-size: .75rem; padding-bottom: .5rem; letter-spacing: 2px">Ali & Justin</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6">
              <a class="cursor-pointer" [routerLink]="['/NickAndChad']">
                <div style="background-color: #4a4e69;">
                  <img
                    style="padding-top: 1rem; height: 25rem; width: 93%; object-fit: cover; object-position: 75% 1; display: block; margin: auto; border-radius: 2px"
                    src="./../assets/images/Nick and Chad_083.jpg" alt="">
                  <div class="text-center">
                    <p class="mb-0 body-font-300 text-lowercase text-white"
                      style="font-size: 1.25rem; margin-top: .25rem">League
                      City, Texas</p>
                    <p class="title-font-300 text-white text-uppercase"
                      style="font-size: .75rem; padding-bottom: .5rem; letter-spacing: 2px">Nick & Chad</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <a [routerLink]="['/Becca']">
                <div style="background-color: #4a4e69;">
                  <img
                    style="padding-top: 1rem; height: 25rem;  width: 93%; object-fit: cover; object-position: 50% 30%; display: block; margin: auto; border-radius: 2px"
                    src="../../../assets/images/Becca-103.jpg" alt="">
                  <div class="text-center">
                    <p class="mb-0 body-font-300 text-lowercase text-white"
                      style="font-size: 1.25rem; margin-top: .25rem">Dallas,
                      Texas
                    </p>
                    <p class="title-font-300 text-white text-uppercase"
                      style="font-size: .75rem; padding-bottom: .5rem; letter-spacing: 2px">Becca</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6">
              <a [routerLink]="['/HunterAndMegan']">
                <div style="background-color: #4a4e69;">
                  <img
                    style="padding-top: 1rem; height: 25rem;  width: 93%; object-fit: cover; object-position: 50% 30%; display: block; margin: auto; border-radius: 2px"
                    src="./../assets/images/H&M138.jpg" alt="">
                  <div class="text-center">
                    <p class="mb-0 body-font-300 text-lowercase text-white"
                      style="font-size: 1.25rem; margin-top: .25rem">Houston,
                      Texas</p>
                    <p class="title-font-300 text-white text-uppercase"
                      style="font-size: .75rem; padding-bottom: .5rem; letter-spacing: 2px">Hunter & Megan</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="position: relative; z-index: -1;">
      <img width="100%" style="height: 43rem; object-fit: cover;" src="./../assets/images/justynemily.jpg"
        alt="a man and a woman sitting on a stage with a bright blue sky behind them">
    </div>
    <!-- <div style="height: 12rem; width: 100%; background-color: #f2e9e4; background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png')">
        <div class="d-flex align-items-center justify-content-between p-4">
          <h3 class="title-font-600 font-size-175">kind words: </h3>
          <div class="w-75">
            <p class="body-font-300 text-uppercase font-size-1">Mauris finibus semper
              vestibulum. Morbi volutpat, turpis vel dictum aliquam, orci eros elementum lectus, in sodales diam elit
              blandit
              mauris. Praesent eget ante mauris. Suspendisse fringilla diam eget massa volutpat, vitae fermentum libero
              porta.
              Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec lectus nisi, dapibus id ligula vel,
              convallis euismod magna.</p>
            <p class="body-font-300 text-right text-uppercase font-size-075">- The Adams Family</p>
          </div>
        </div>
      </div> -->
  </div>
</div>
<div class="mobile-body">
    <img style="width: 100%; height: 50%; margin-top: 5rem" src="./../assets/images/aliJustin.jpg"
      alt="a man in a tux and a woman in a long flowy black dress stand in White Sands National Park holding hands and looking away from each other.">
</div>