<div class="desktop-body">
    <div class="div-top">
      <div class="text-center" style="position: fixed; z-index: 0; top: 0;">
        <img style="width: 100%; height: 50%" src="./../assets/images/aliJustin.jpg"
          alt="a man in a tux and a woman in a long flowy black dress stand in White Sands National Park holding hands and looking away from each other.">
      </div>
    </div>
    <div class="div-bottom" style="width:100%">
      <div>
        <div class="text-right py-5 mr-5">
            <a [routerLink]="['/galleries']">Galleries</a>
          <h3 class="title-font-600" style="font-size: 4rem">pinell photography</h3>
          <p class="body-font-300" style="font-size: 1.15rem; margin-top: -.5rem; letter-spacing: 2px">ALEX & SHANDA</p>
        </div>
        <div style="margin-top: 1.25rem; position: relative">
          <div
            style="background-color:#A8DADC; width: 45%; height: 12rem; position: relative; top: 5rem; border-bottom-right-radius: 2px; border-top-right-radius: 2px;">
          </div>
          <div
            style="background-color:#457B9D; width: 55%; height: 14rem; position: relative; top: 1rem; right: 0; margin-left: auto; border-bottom-left-radius: 2px; border-top-left-radius: 2px;">
          </div>
          <div>
            <div>
              <div class="shadow-sm"
                style="background-color:#1D3557; width: 35%; height: 61%; position: absolute; top: -8%; left: 11%; border-radius: 2px; background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">
              </div>
              <img
                style="width: 34%;height: 100%;position: relative;z-index: 800;top: -30rem;left: 13%; border-radius: 2px"
                src="./../assets/images/aliJustin2.JPG" alt="">
            </div>
            <div>
              <div class="shadow-sm"
                style="background-color:#1D3557; width: 31%; height: 25%; position: absolute; top: -3%; left: 58%; border-radius: 2px; background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">
              </div>
              <img style="width: 31%; position: absolute;z-index: 800;top: -1%;right: 13%; border-radius: 2px"
                src="./../assets/images/aliring.JPG" alt="">
            </div>
            <div>
              <div class="shadow-sm"
                style="background-color:#1D3557; width: 31%; height: 26%; position: absolute; top: 27%; left: 58%; border-radius: 2px; background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">
              </div>
              <img style="width: 31%;position: absolute;z-index: 800; border-radius: 2px; right: 13%; top: 26%"
                src="./../assets/images/aliJustin3.JPG" alt="">
            </div>
            <!-- <p style="color: white; font-size: 1rem; transform: rotate(0.75turn); z-index: 10; position: absolute;left: .5%; top:1%">Ali & Justin - White Sands, New Mexico</p>
                    <p style="color: white; font-size: 1rem; transform: rotate(0.25turn); z-index: 10; position: relative; right: -55.5rem; top: -49rem; width: 10rem">Ali - New Mexico</p>
                    <p style="color: white; font-size: 1rem; transform: rotate(0.25turn); z-index: 10; position: relative; right: -55.5rem; top: -25rem; width: 10rem">Ali - New Mexico</p> -->
          </div>
        </div>
      </div>
      <div style="background-color: #A8DADC; height: 20rem; width: 100%; margin-top: -22rem">
        <h3 class="d-flex align-items-center justify-content-center h-100 text-center text-white">Hi! We're excited to
          meet you!</h3>
      </div>
  
      <div
        style="background-color:#fbfffa; width:100%; height: 80rem; position: relative; background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png');">
        <div style="margin-top: 1.75rem">
          <div
            style="background-color:#457B9D; width: 40%; height: 75%; top: -2.25%; position: absolute; z-index: 1; border-bottom-right-radius: 2px">
          </div>
          <div
            style="background-color:#1D3557; width: 38%; height: 60.5%; position: absolute; top:2.25%; left: 10%; z-index: 2; border-radius: 2px;background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">
          </div>
          <img style="width: 38%; height: 57%; position: absolute; left: 11.5%; top: 4%; z-index: 3; border-radius: 2px"
            src="./../assets/images/Becca-73.jpg" alt="">
        </div>
        <div style="position: absolute; left: 45%; top: 10%; z-index: 4">
          <h3 class="title-font-300" style="font-size: 4.9rem; width: 22rem">capturing all the</h3>
          <h3 class="body-font-600-italics"
            style="font-size: 5.9rem; width: 13rem; position: relative; top: -7rem; left: 16rem">
            FEELS</h3>
        </div>
  
        <p class="body-font-300" style="width: 31rem; position: absolute; left: 56%; top: 29%;">Mauris finibus semper
          vestibulum. Morbi volutpat, turpis vel dictum aliquam, orci eros elementum lectus, in sodales diam elit blandit
          mauris. Praesent eget ante mauris. Suspendisse fringilla diam eget massa volutpat, vitae fermentum libero porta.
          Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec lectus nisi, dapibus id ligula vel,
          convallis euismod magna. Curabitur nec cursus augue. Aliquam malesuada pretium sapien, eu sodales erat euismod
          quis. Integer nec justo orci. Donec finibus ex sit amet enim auctor condimentum. Maecenas cursus est dictum,
          iaculis est et, gravida massa. Pellentesque gravida, sapien sed vulputate dapibus, orci mi laoreet elit, non
          semper neque metus et mi. Donec sit amet venenatis nibh, id imperdiet est. Nam a massa nisi. Donec ultrices,
          metus blandit varius fermentum, dui diam ullamcorper urna, nec interdum mauris est sit amet massa.</p>
  
      </div>
      <div
        style="background-color:#fbfffa; width:100%; height: 68rem; position: relative; background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png');">
        <div class="d-flex">
          <div style="margin-left: 4rem; width: 21rem">
            <h3 style="font-size:4.9rem" class="body-font-400">featured</h3>
            <h3 style="font-size:2rem; margin-top: -1.5rem; letter-spacing: 2px" class="title-font-400 text-right">
              GALLERIES</h3>
          </div>
          <div style="width: 75rem; margin-left: 2rem">
            <div class="row mb-5">
              <div class="col-6">
                <div style="background-color: #1D3557; width: 90%;">
                  <img
                    style="padding-top: 1rem; height: 25rem; width: 93%; object-fit: cover; object-position: 75% 1; display: block; margin: auto; border-radius: 2px"
                    src="./../assets/images/aliJustin2.JPG" alt="">
                  <div class="text-center">
                    <p class="mb-0 body-font-300 text-lowercase text-white"
                      style="font-size: 1.25rem; margin-top: .25rem;">White
                      Sands, New Mexico</p>
                    <p class="title-font-300 text-white text-uppercase"
                      style="font-size: .75rem; padding-bottom: .5rem; letter-spacing: 2px">Ali & Justin</p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div style="background-color: #1D3557; width: 90%;">
                  <img
                    style="padding-top: 1rem; height: 25rem; width: 93%; object-fit: cover; object-position: 75% 1; display: block; margin: auto; border-radius: 2px"
                    src="./../assets/images/Nick and Chad_083.jpg" alt="">
                  <div class="text-center">
                    <p class="mb-0 body-font-300 text-lowercase text-white"
                      style="font-size: 1.25rem; margin-top: .25rem">League
                      City, Texas</p>
                    <p class="title-font-300 text-white text-uppercase"
                      style="font-size: .75rem; padding-bottom: .5rem; letter-spacing: 2px">Nick & Chad</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div style="background-color: #1D3557; width: 90%;">
                  <img
                    style="padding-top: 1rem; height: 25rem;  width: 93%; object-fit: cover; object-position: 50% 30%; display: block; margin: auto; border-radius: 2px"
                    src="./../assets/images/Chandler-85.jpg" alt="">
                  <div class="text-center">
                    <p class="mb-0 body-font-300 text-lowercase text-white"
                      style="font-size: 1.25rem; margin-top: .25rem">Houston,
                      Texas
                    </p>
                    <p class="title-font-300 text-white text-uppercase"
                      style="font-size: .75rem; padding-bottom: .5rem; letter-spacing: 2px">Chandler</p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div style="background-color: #1D3557; width: 90%;">
                  <img
                    style="padding-top: 1rem; height: 25rem;  width: 93%; object-fit: cover; object-position: 50% 30%; display: block; margin: auto; border-radius: 2px"
                    src="./../assets/images/CassieWeb_0023.jpg" alt="">
                  <div class="text-center">
                    <p class="mb-0 body-font-300 text-lowercase text-white"
                      style="font-size: 1.25rem; margin-top: .25rem">Houston,
                      Texas</p>
                    <p class="title-font-300 text-white text-uppercase"
                      style="font-size: .75rem; padding-bottom: .5rem; letter-spacing: 2px">Cassie</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div style="position: relative; z-index: -1;">
        <img width="100%" style="height: 43rem; object-fit: cover;" src="./../assets/images/justynemily.jpg"
          alt="a man and a woman sitting on a stage with a bright blue sky behind them">
      </div>
      <div style="height: 12rem; width: 100%; background-color: #1D3557;">
        <div class="d-flex align-items-center justify-content-between p-4">
          <h3 class="title-font-600 text-white font-size-175">kind words: </h3>
          <div class="w-75">
            <p class="body-font-300 text-white text-uppercase font-size-1">Mauris finibus semper
              vestibulum. Morbi volutpat, turpis vel dictum aliquam, orci eros elementum lectus, in sodales diam elit
              blandit
              mauris. Praesent eget ante mauris. Suspendisse fringilla diam eget massa volutpat, vitae fermentum libero
              porta.
              Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec lectus nisi, dapibus id ligula vel,
              convallis euismod magna.</p>
            <p class="body-font-300 text-white  text-right text-uppercase font-size-075">- The Adams Family</p>
          </div>
        </div>
      </div>
      <div
        style="background-color:#fbfffa; background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png'); padding-bottom: 5%">
        <div style="background-color: #457B9D; height: 5rem; position: relative; top: 8.5rem; width: 100%; z-index: 1">
        </div>
        <div class="d-flex align-items-center justify-content-center"
          style="position: relative; z-index: 2; background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">
          <img style="width:12rem; height: 12rem; object-fit: cover; object-position: 50% 50%;"
            src="./../assets/images/Justyn and Emily-016.jpg" alt="">
          <img style="width:12rem; height: 12rem; object-fit: cover; object-position: 50% 50%;"
            src="./../assets/images/Gabby and Julia064.jpg" alt="">
          <img style="width:12rem; height: 12rem; object-fit: cover; object-position: 50% 50%;"
            src="./../assets/images/Becca-39.jpg" alt="">
          <img style="width:12rem; height: 12rem; object-fit: cover; object-position: 50% 50%;"
            src="./../assets/images/Kaitlyn&Tyler-75.jpg" alt="">
          <img style="width:12rem; height: 12rem; object-fit: cover; object-position: 50% 50%;"
            src="./../assets/images/CassieWeb_0001.jpg" alt="">
          <img style="width:12rem; height: 12rem; object-fit: cover; object-position: 50% 50%;"
            src="./../assets/images/Nikolai-10.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
