<section
    style="padding: 8%; background-color: #f2e9e4; background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png')">
    <h3 class="title-font-500 text-center" style="font-size: 3.75rem;">galleries</h3>
    <p class="body-font-300 font-size-075 text-center text-uppercase mb-5" style="letter-spacing: 2px">Get a feel for my
        style</p>
    <div class="d-flex flex-wrap justify-content-around align-items-center w-100">
        <a [routerLink]="['/HayesFamily']"><div class="gallery-card text-center">
            <img class="gallery-img" src="../../../assets/images/HayesFamily/Hayes Cuties -16-min.jpg" alt="">
            <div class="gallery-text">
                <p class="gallery-date">November 2021</p>
                <p class="gallery-list">Houston, TX<br>
                    Hayes Family</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div></a>
        <a [routerLink]="['/Ashley']"><div class="gallery-card text-center">
            <img class="gallery-img" src="../../../assets/images/AshleyFlood/Ashley-27-min.jpg" alt="">
            <div class="gallery-text">
                <p class="gallery-date">November 2021</p>
                <p class="gallery-list">Houston, TX<br>
                    Ashley</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div></a>
        <a [routerLink]="['/TaraAndClancey']"><div class="gallery-card text-center">
            <img class="gallery-img" src="../../../assets/images/TaraClancey/T & C-15-min.jpg" alt="">
            <div class="gallery-text">
                <p class="gallery-date">September 2021</p>
                <p class="gallery-list">Mansfield, TX<br>
                    Tara & Clancey</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div></a>
        <a [routerLink]="['/Alexandra']"><div class="gallery-card text-center">
            <img class="gallery-img" src="../../../assets/images/Alexandra/Logan Quinn-58-min.jpg" alt="">
            <div class="gallery-text">
                <p class="gallery-date">August 2021</p>
                <p class="gallery-list">Maternity Shoot <br> Alexandra & Cody</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div></a>
        <a [routerLink]="['/HunterAndMegan']"><div class="gallery-card text-center">
            <img class="gallery-img" src="../../../assets/images/HunterMegan/H&M - 043-min.jpg" alt="">
            <div class="gallery-text">
                <p class="gallery-date">August 2021</p>
                <p class="gallery-list">Proposals and Engagement Session <br> Hunter & Megan</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div></a>
        <a [routerLink]="['/AliAndJustin']"><div class="gallery-card text-center">
            <img class="gallery-img" src="../../../assets/images/aliJustin2.JPG" alt="">
            <div class="gallery-text">
                <p class="gallery-date">July 2021</p>
                <p class="gallery-list">White Sands National Park Engagement Session <br>
                    Ali & Justin</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div></a>
        <a [routerLink]="['/NickAndChad']"><div class="gallery-card text-center">
            <img class="gallery-img" src="../../../assets/images/Nick and Chad_083.jpg" alt="">
            <div class="gallery-text">
                <p class="gallery-date">July 2021</p>
                <p class="gallery-list">League City Intimate Wedding 
                    <br> Nick & Chad</p>
                    <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div></a>
        <a [routerLink]="['/Becca']"><div class="gallery-card text-center">
            <img class="gallery-img" src="../../../assets/images/Becca-103.jpg" alt="">
            <div class="gallery-text">
                <p class="gallery-date">May 2021</p>
                <p class="gallery-list">Senior Portrait Session <br> Becca</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div></a>
       
    </div>
</section>