.gallery-card{
    margin: .5rem;
    width: 31%;
    height: auto;
    text-align: center;
}

.gallery-img{
    width: 20rem;
    height: 20rem;
    border-radius: 2px;
    object-fit: cover;
}

.gallery-text{
    padding: 0rem .55rem;
}

.gallery-date{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: .65rem;
    margin-bottom: .35rem;
    margin-top: .35rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.gallery-list{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: .95rem;
    margin-bottom: .35rem;
    margin-top: .35rem;
    text-transform: lowercase;
}


.see-more{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: .65rem;
    text-align: right;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.slashes{
    font-size: 1.25rem;
    color: #E63946;
}

.arrow{
    width: 12px;
    height: 12px;
    padding-left: .25rem;
}