<section
    style="padding-top: 5%; padding-left: 8%; padding-right: 8%; background-color: #fbfffa; background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png')">
    <h3 class="title-font-500 text-center" style="font-size: 3.75rem;">galleries</h3>
    <p class="body-font-300 font-size-075 text-center text-uppercase" style="letter-spacing: 2px">Get a feel for my
        style</p>
    <div class="d-flex flex-wrap align-items-center w-100">
        <div class="gallery-card text-center">
            <img class="gallery-img" src="../../../assets/images/aliJustin2.JPG" alt="">
            <div class="gallery-text">
                <p class="gallery-date">2021, July 17th</p>
                <p class="gallery-list">White Sands National Park Engagement Session <span class="slashes">//</span>
                    Alamogordo, New Mexico <span class="slashes">//</span> Ali & Justin</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div>
        <div class="gallery-card">
            <img class="gallery-img" src="../../../assets/images/aliJustin2.JPG" alt="">
            <div class="gallery-text">
                <p class="gallery-date">2021, July 17th</p>
                <p class="gallery-list">White Sands National Park Engagement Session <span class="slashes">//</span>
                    Alamogordo, New Mexico <span class="slashes">//</span> Ali & Justin</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div>
        <div class="gallery-card">
            <img class="gallery-img" src="../../../assets/images/aliJustin2.JPG" alt="">
            <div class="gallery-text">
                <p class="gallery-date">2021, July 17th</p>
                <p class="gallery-list">White Sands National Park Engagement Session <span class="slashes">//</span>
                    Alamogordo, New Mexico <span class="slashes">//</span> Ali & Justin</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div>
        <div class="gallery-card">
            <img class="gallery-img" src="../../../assets/images/aliJustin2.JPG" alt="">
            <div class="gallery-text">
                <p class="gallery-date">2021, July 17th</p>
                <p class="gallery-list">White Sands National Park Engagement Session <span class="slashes">//</span>
                    Alamogordo, New Mexico <span class="slashes">//</span> Ali & Justin</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div>
        <div class="gallery-card text-center">
            <img class="gallery-img" src="../../../assets/images/aliJustin2.JPG" alt="">
            <div class="gallery-text">
                <p class="gallery-date">2021, July 17th</p>
                <p class="gallery-list">White Sands National Park Engagement Session <span class="slashes">//</span>
                    Alamogordo, New Mexico <span class="slashes">//</span> Ali & Justin</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div>
        <div class="gallery-card">
            <img class="gallery-img" src="../../../assets/images/aliJustin2.JPG" alt="">
            <div class="gallery-text">
                <p class="gallery-date">2021, July 17th</p>
                <p class="gallery-list">White Sands National Park Engagement Session <span class="slashes">//</span>
                    Alamogordo, New Mexico <span class="slashes">//</span> Ali & Justin</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div>
        <div class="gallery-card">
            <img class="gallery-img" src="../../../assets/images/aliJustin2.JPG" alt="">
            <div class="gallery-text">
                <p class="gallery-date">2021, July 17th</p>
                <p class="gallery-list">White Sands National Park Engagement Session <span class="slashes">//</span>
                    Alamogordo, New Mexico <span class="slashes">//</span> Ali & Justin</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div>
        <div class="gallery-card">
            <img class="gallery-img" src="../../../assets/images/aliJustin2.JPG" alt="">
            <div class="gallery-text">
                <p class="gallery-date">2021, July 17th</p>
                <p class="gallery-list">White Sands National Park Engagement Session <span class="slashes">//</span>
                    Alamogordo, New Mexico <span class="slashes">//</span> Ali & Justin</p>
                <p class="see-more">See More <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#E63946" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg></p>
            </div>
        </div>
    </div>
</section>