<div style="margin: 5% 15%">
    <h3 class="body-font-300 font-size-3 text-lowercase text-center mb-0 gallery-title">Alexandra & Cody</h3>
    <h3 class="title-font-400 font-size-075 text-uppercase text-center mb-5">Spring, Texas</h3>
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-14-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-15-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-16-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-19-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-23-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-27-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-34-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-37-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-40-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-43-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-45-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-47-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-48-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-49-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-52-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-53-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-55-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-56-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-57-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-58-min.jpg" alt="">
    <img class="image-100 mb-4" src="../../../../assets/images/Alexandra/Logan Quinn-60-min.jpg" alt="">
</div>